/* spigen_main_content_02.css */

#conBox2 {position:relative; z-index:100; width:100%; height: 100%; padding-top:100px; 
   background-image:url('../../../img/spigen/irArea.jpg');
   background-repeat: no-repeat;
   background-position:50% 100%;
   background-size:cover;}

#conBox2:before{content:" "; display:block; position:absolute; z-index:-1; top:0; left:0; width:100%; height:100%; background-color: rgba(255,119,0,0.8);}

.irArea {width: 100%; height:100%;  box-sizing:border-box; padding: 1rem 3rem;}


.irArea >h3 {width: 100%; height: 40px; padding: 20px 0; margin-bottom: 2rem; text-align:center; text-transform: uppercase; font-size:2.5rem;}
.irArea >p {width: 100%; height: 20px; margin-bottom:3rem; text-align:center; }

.irArea > ul {width: 90vw; height: 30vw; max-height:440px; margin:auto;}
.irArea > ul >li {float:left; position:relative; width: 32%; height: 100%; background-color: #fff; margin-right: 2%;}
.irArea > ul >li:last-child{margin-right:0;}
.irArea > ul >li > a {display:block; width: 100%; height: 100%;}

.irArea dl {position:absolute; bottom:0; left:0; width: 100%; height: 80px;  box-sizing:border-box; background-color: rgba(0,0,0,0.7); transition:all 300ms ease;}
.irArea dl >dt {width: 100%; height: 100%; font-size:1.5rem; text-align:center; text-transform:capitalize; line-height:80px; color: #fff;}
/* .irArea dl >dt > span {text-transform:uppercase;} */
.irArea dl >dd {display:none; text-align:center; word-break:keep-all; color: #fff;}

.irArea dl.action {height: 100%; padding:4rem 2rem;}
.irArea dl.action >dt {height: auto; color: #f50; margin-bottom: 3rem;}
/* .irArea dl.action >dd {display:block;} */


/* .irArea dl>dd */

