/* spigen_main_content_01.css */

/* # conBox ============================================= */
#conBox {width:100%; height: 100%; padding-top:100px; box-sizing:border-box; /* min-height: 700px; min-height:43.75rem; */ background-color: #ddd;}

.media_blog {width:100%; height:50%; background-color: inherit;}
   .title_area {float:left; width:550px; height:100%; padding:90px 55px 0 160px; box-sizing:border-box; background-color: #fff;}
      .title_area>h3 {font-size:2.5rem; text-transform:capitalize; font-weight:bold; margin-bottom: 3rem; color: #171717}
      .title_area>p {font-size:1.125rem; color: #777; word-break:keep-all;}

   .content_area {float:left; width: calc(100% - 550px); height:100%; padding: 40px 10px 10px 40px; box-sizing:border-box; background-color: #acf;} /* calc 안 먹히는 브라우저 고려할 것. */
      .content_area>dl {position:relative; width: 100%; height:100%; background-color: #fff;;}
      .content_area>dl>dt {float:left; width:100px; height:40px;}
      .content_area>dl>dt:first-child {margin-right:5px; }

      .content_area>dl>dt>button {width:100%; height:100%; box-sizing:border-box; border:2px solid #454545; color:#454545; background-color: transparent; }
      .content_area>dl>dt>button.action{border-color: #f70; background-color: #f70; color: #fff;}
      
      .content_area>dl>dd {display:none; position:absolute; left:0; bottom:0; width: 100%; height: calc(100% - 50px); min-height: 200px; background-color: #f8a;}
      .content_area>dl>dd:last-child {background-color: #8fa;}
      .content_area>dl>dd.action {display:block;}


.about_company {width:100%; height:50%; background-color: #aff;}

