// mixin.scss

// 숨기는 영역 처리하기
@mixin hidden(){
   display:block; position:absolute; z-index:-10; width:0; height:0; overflow:hidden;
};




// framework ============================================================================

// 내부에 있는 text 숨기는 기능 처리하기--------------------------------
@mixin hiddenText(){
display:block; width:0; height:0; 
position:absolute; z-index:-1; overflow:hidden;
} // @mixin hiddenText


// a요소 사이즈 설정, 내부 span요소를 숨기게 만들기--------------------------------
@mixin link($w:100%, $h:100%){         // default 값이 100%;
   display:block; width:$w; height:$h;
   @content;                           // 내부에 추가 내용을 넣기 위해서. (타 @mixin에 활용해서 넣을 수 있음)
   >span {@include hiddenText;}
} //@mixin link()                      // @include link($h:300px) = 너비는 100%, 높이는 300px로 지정


//좌우버튼




//Indicator_type_01 --------------------------------
@mixin Indicator_type_01($select, $myW, $zIn:500){
   // 하단에 위치, focus시 버튼이 가로로 길게 늘어나며, 전체 list 사이즈가 조절되는 인디케이터
   // OPTION : 인디케이터 버튼하나의 크기 $myW로 설정,
   //        : $f는 100%
   //        : class 선택자의 이름을 설정 $select
   //        : 색상은 사전 설정된 변수의 색을 사용.
   // 기본 구조는 $select > ul > li > a 순서로 되어있다.
   // * interpolation(보간) 

   // 인디케이터 indicator !
#{$select} {$w:$myW; $f:100%; // .view_indicator내부에서만 작용하는 지역변수 선언  

   position:absolute; z-index:$zIn; left:50%; transform:translateX(-50%); bottom:$w;
   width: auto; min-width:135px; height: $w; padding: 5px; border-radius:$w; background-color: $sub4; 

   > ul {width:$f; height:$f;
      >li {float:left; width:auto; height:$w; margin-left:5px; 
      &:first-child {margin-left:0;}
      }// li
      & a {@include link($w:$w, $h:$f); 
         // display:block; width:$w; height:$f;       // @include link()에 들어있어서 제외
         border-radius:$w; background-color: $grey; transition:all 300ms ease;   // @content 위치에 정상적으로 삽입됨.
         &:hover {background-color: lighten($primary, 30%);}
         &.action, &:focus {background-color: $primary; width: $w * 3;}
         >span { @include hiddenText; }
         // >span {@extend .hidden;}
      } // a // li 안에 너무 많아지니까 ul의 자손으로 작성 (?)      
   }// ul
   @content;
}// .view_indicator

} // @mixin Indicator_type_01 _사실 프레임워크에 가까운,.,.,.,,, 


// ===========================================================================================
// ========================================================================
// * 가로형 슬라이드 배너 스타일 1

@mixin Horizontal_slide_banner($bannerName, $c, $w:100%, $h:100%, $view:false){
   //     # 가이드라인(Horizontal_slide_banner)-----------------------------------
// .guide : (중요) $bannerName의 자식으로 사용하는 가로슬라이드 배너의 내용물들이 담기는 큰 박스의 클래스를 .guide로 설정할 것.
// .guide의 자식요소는 div로 설정되어 있음.

// $bannerName : (필수) 광고 슬라이드 배너를 처리하고 있는 영역의 이름(기본틀)
// $c : (필수) 가로형 슬라이드 배너의 갯수(기본)
// $w : 기본틀의 가로값
// $h : 기본틀의 세로값
// $view : true일 때에는 기본틀에서 넘치는 내용을 보여주고(overflow:visible처리)
//         false일 때에는 기본틀에서 넘치는 내용을 숨긴다.(overflow:hidden처리)
   // ---------------------------------------------------------------------------

   #{$bannerName} { $count:$c;
      width: $w; height:$h;

      // overflow 처리용 if
      @if($view == true){
         overflow:visible;
      }@else{
         overflow:hidden;
      } // overflow 처리용 if 구문

      .guide {position:relative; top:0; left:0; width:(100% * $count); height:100%; background-color: $sample; 
         >div {float:left; width: (100% / $count); height: 100%; padding:4rem; box-sizing:border-box;
            background-repeat:no-repeat; background-position:50% 50%; background-size:cover;
            @content;
         }// div(개별요소).ad_0$
         // @content;
      }//.guide
   }//.slide_form
}//@mixin Horizontal_slide_banner()
// ========================================================================
//(중요) 해당 @mixin 사용 전 경로를 설정해주어야함.
@mixin Horizontal_banner_img($count, $url:$url, $name:'slideImage_', $file:'jpg'){
                                       // A:a, B, C:c 처럼 옵션을 준 변수 사이에는 옵션이 없는 변수를 넣을 수 없다.(오류)
   @for $i from 1 through $count {
      &:nth-of-type(#{$i}) {
         $n : null;
         // # @if 문 ***************************************************
         @if ($i < 10){
            $n : '0' + $i;  // 01, 02, 03, ..... 09
         }@else{
            $n : $i;
         }//@if 조건 { 수행 } @else { 수행 }

         background-image:url($url + $name + $n + '.' + $file);
      } //&:nth-of-type(#{$i})
   } // @for

}// @mixin Horizontal_banner_img




// ========================================================================