#miniProduct { position: relative; width: 500px; height: 400px; margin: 10rem auto; }

.btn { width: 150px; height: 70px; position: absolute; bottom: 0; right: 0; }

.btn > button { float: left; width: 70px; height: 70px; font-size: 3rem; background-color: transparent; color: #0c9; }

.btn > button.next { float: right; }

.btn > button span { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

.btn > button.action { color: #f06; }

.product { width: 100%; height: 300px; background-color: #0c9; }

.product > ul { width: 300%; height: 100%; margin-left: -100%; }

.product > ul > li { float: left; width: 33.33333%; height: 100%; border-right: 1px solid #333; box-sizing: border-box; }
