// paul_01.scss
/* paul_01.css */

@import "../_basic/var";
@import "../_basic/mixin";
@import "../_basic/etc";

// ----------------------------------------------------------

#wrap {width: 100%; height: 100%; background-color: $sample;}

#conBox2 {width: 100%; height:100%; background-color: lighten($sub3, 30%);}
#conBox3 {width: 100%; height:100%; background-color: lighten($sub3, 20%);}
#footBox {width: 100%; height:100%; background-color: lighten($sub3, 10%);}



@import "../_temp/paul_headBox";
@import "../_temp/paul_viewBox";
@import "../_temp/paul_conBox";
@import "../_temp/paul_footBox";

// -------------------------------------------------------
