@charset "UTF-8";
// slide_all.scss
/* slide_all.css */


@import "../_basic/var";
@import "../_basic/mixin_02";
@import "../_basic/etc";

// ==================================================================

#wrap {@include fullBox($bg: transparent);} //fullBox(순서만 맞는다면, $bg없이 그냥 값만 지정해줘도 됨. ex: fullBox(90%, 90%, #acf))


#viewBox {@include fullBox($h:90%, $bg:#fcf);position:relative;}

// .view_btn 좌우 버튼 ===============================
/* .view_btn 좌우 버튼 =============================== */
.view_btn {position: absolute; z-index:500; width:90%; height:0; top:50%; left:5%;
   >button{float:left; width:50px; height:50px; transform:translateY(-50%);}
   >.next{float:right;}
}// .view_btn

// .indicator 인디케이터 ==============================
/* .indicator 인디케이터 ============================== */
.indicator {$myRel: 30;
   position: absolute; z-index: 500; left:50%; transform:translate(-50%); @include conUnit(bottom,16); width:auto; @include conUnit(height,$myRel); @include conUnit(padding,4.8); background-color: #fff; @include conUnit(border-radius,$myRel);
      >li {float:left; @include conUnit(width,$myRel); @include conUnit(height,$myRel); @include conUnit(margin-left,16); transition:all 300ms ease;
         &:first-child{@include conUnit(margin-left,0);}
         &.action {@include conUnit(width,$myRel * 2); } //    li.action
         >a {display:block; @include fullBox($bg:$sub5); @include conUnit(border-radius,$myRel);}// a
      }// li
}// .indicator


// 슬라이드 폼 ==========================================
/* 슬라이드 폼 ========================================== */
.slide_form {@include fullBox($bg:#acf);}
.slide_wrap {$count : 5; position:relative; @include fullBox($w:100% * $count);
   >div{float:left; width:100% / $count; height:100%;
      $c : (#acc,#fac,#13f,#fa9, #ccc); // 배열형식
      @for $i from 1 through $count {
         @if ($i < 10 ) {
            &.slide_0#{$i} {background-color: nth($c,$i);}
         }@else{
            &.slide_#{$i} {background-color: nth($c,$i);}
         }
      }//for
   }// div
} //.slide_wrap
// @import "../_temp/slideAll";
