@charset "UTF-8";
/* layout_practice.css */

/** 천연기념물센터 data summary 
   *position사용시 가운데 배치하는 방법:
   방법1-1 : margin:auto; top:0; bottom:0;  => 위아래 가운데 정렬
   방법1-2 : margin:auto; left:0; right:0;  => 좌우 가운데 정렬
   
   방법2-1 : (높이값이 정해져 있을 경우) top: 50%; margin-top:-(해당 요소 높이값의 절반)  => 위아래 가운데 정렬
   방법2-2 : (가로값이 정해져 있을 경우) left: 50%; margin-left:-(해당 요소 가로값의 절반)  => 좌우 가운데 정렬

   방법3-1 : (최신브라우저일경우) top:50%; transform:translateY(-50%);  => 위아래 가운데 정렬
   방법3-2 : (최신브라우저일경우) left:50%; transform:translateX(-50%);   => 좌우 가운데 정렬
**/

/* layout */



@import url("./nhc/nhc_wrap.css");
@import url("./nhc/nhc_header.css");
@import url("./nhc/nhc_main_content.css");
@import url("./nhc/nhc_footer.css");