@charset "utf-8";
/* responsiveweb_01.css */

/** Guide responsive_web **/
/* 
@media Query.
@media print {인쇄 화면}
@media handheld {손으로 들고다니는 기기만 고려하겠다}
@media tv {tv만 해당}
@media horizontal {가로형 기기}
*/

html,body {width:100%; height:100%;}
#wrap {width:100%; height:100%; background-color: #ccc;
      color:#000; text-shadow:0.2rem 0.2rem 0.2rem #181818;}

@media screen and (max-width:480px) { /* 모바일환경 */
   #wrap {width: 70vw; height:100%; background-color: #fca; color: #333; text-shadow:none;}
}

@media screen and (min-width:481px) and (max-width:800px){
   #wrap {width: 50vmax; max-width:350px; height:50%; background-color: #2a7; text-shadow:none;}
}