/* nhc_main_content.css */

/* mainBox */
#mainBox {width: 100%; height: auto;}

/* page_scroll ================================= */
   .page_scroll {position:fixed; z-index:500; margin:auto; top:0; bottom:0; right:20px; width:40px; height:230px; background-color: rgba(0,0,0,0.3);}
      .page_scroll>ul {width:20px; height: 150px; padding-top:10px; margin:auto; left:0; right:0; }
      .page_scroll>ul>li {width:20px; height: 20px; margin-bottom:10px;  border:2px solid #fff; border-radius:100%; box-sizing:border-box;}
      .page_scroll>ul>li:last-child {margin-bottom:0;}
      .page_scroll>ul>li>a {display:block; width:100%; height:100%;}

      .page_scroll:after,
      .page_scroll::after {content:" "; display:block; position:absolute; left:0; right:0; width:20px; height: 50px; margin:auto; border:2px solid #fff; border-radius:5px;
      animation:mouseMv 650ms linear alternate infinite;}

      @keyframes mouseMv {0%{bottom:40px;} 100%{bottom:10px;}}


/* viewBox ============================================== */
   #viewBox {position: relative; width:100%; height: 855px; background-color: #aef;}
      .indicator {position: absolute; z-index:300; bottom: 65px; left:50%; margin-left: -433px; width:866px; height:70px;}
         .indicator>ul>li {width:141px; margin-right: 4px;line-height:70px; background-color: rgba(0,0,0,0.5);}
         .indicator>ul>li>a:hover {background-color: #fa0; outline:2px solid #fff;}

      .view_btn {position:absolute; z-index:400; margin:auto; top:0; bottom:0; width:140px; height:100px; background-color: rgba(255,255,255,0);}
      .view_btn>button {width:100%; height:100%; background-color: transparent; font-size: 5rem;}
      .view_btn>button:hover {color: #fa0; text-shadow:0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);}
      .view_btn>button:focus {color: #fac;}
      .next_btn {right:140px;}
      .prev_btn {left: 140px;}

      .view_zone {position: relative; top:0; bottom:0; left:0; right:0; width:100%; height: 100%; margin:auto;}
         .view_zone>p {position:absolute; top:0; bottom:0; left:0; right:0; width:50%; min-width:900px; height:130px;margin:auto; text-align:center; font-size:54px; font-size:3.375rem;}
         /* 16px = 100% = 12pt = 1em = 1rem */
         .view_zone>p>em {font-style:normal; font-weight:bold; font-size:3.5rem;}
         .view_zone>img {width: 100%; height: 100%; opacity:0.5;}


/* ===============파트별 공통영역 처리 사항=============== */
   .con_area {padding-top:45px; width:100%; 
      box-sizing:border-box;}
      .con_area>h3 {width:100%; height:60px; margin-bottom:15px; font-size:50px; line-height:60px; text-align:center; background-color: rgba(255,255,255,0.5);}
      .con_area>p {width:100%; height:30px; margin-bottom: 30px; text-align:center; line-height:30px; background-color: rgba(255,255,255,0.7);}


/* newsBox =============================================== */
   #newsBox {height:895px; background-color: #555;}
      #newsBox>.content {width:1200px; height: 650px; margin: auto; background-color: #fff;}


/* mediaBox =============================================== */
   #mediaBox {height:850px; background-color: #999;}
      #mediaBox>.media {width:950px; height:530px; margin:auto; background-color: #fff;}


/* counterBox ========================================== */
   #counterBox {height:710px; background-color: #555;}
      #counterBox>.content {width:1200px; height:390px; margin:auto; background-color: #fff;}


/* 최상단으로 가기 버튼 */
   .top_btn {position:fixed; z-index:500; bottom: 40px; right:20px; width: 40px; height:40px; background-color: #fff; border:2px solid #333; }
      .top_btn>a {display:block; width:100%; height:100%;}
